// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.outline {
  .list-tree {
  position: static;
  }

  .entry {
    // This fixes #110, see that issue for more details
    &:before {
      content: '';
      position: absolute;
    }
  }
}
